rtl/tests/logs/
rtl/tests/Makefile_exp
rtl/tests/csrc/
rtl/tests/ucli.key
**/.vscode
mwe/src/work/
mwe/src/transcript
mwe/src/vsim.wlf
mwe/syn/alib-52
mwe/syn/design_lib
mwe/syn/tmp
mwe/apr/*.txt
!mwe/apr/icc_output.txt
mwe/apr/design_lib
**/DVEfiles
*.vpd.log
*.swp
**/__pycache__
**/simv.daidir
**/results
**/reports
**/pna_output
.nfs*
._*
*.acts
**/design_lib
**/csrc
**/WORK
**/alib-52
*.tar.gz
*.key
simv
*.lib
*.LIB
*.db
*.DB
**/command.log
**/icc_output.txt
OoO_top_port_map.*
*.vpd
**/filenames*
**/Synopsys_stack_trace*
*.mem
**/bubble_sort_result.log
**/BUBBLE_SORT_RESULT.log
